*{
    direction: rtl;
}
body{ 
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#container1{
    gap: 50px 5px;
    display: grid;
   grid-template-areas: "head  head  head"
   "cont1 cont1 cont1"
   "cont2 cont2 cont2"
   "foot foot  foot"
   "foot2 foot2 foot2";
}
/* nav*/
.head{
    grid-area: head;
    background-color: #94C4D2;
  
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light 
.navbar-nav .nav-link.active, .navbar-light .navbar-nav 
.nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: white;
}
.vl {
    border-left: 1px solid #FFFFFF;
    width: 0px;
    height: 31px;
    margin-top: 15px;
  }
  .card{
      background-color: #F6F6F6;
      border: none;
      text-align: right;
  }
  .fas.fa-shopping-cart {
    text-align: center;
    margin: 10px;
    width: 16.99px;
    height: 14.93px;
    color: white;
    margin-top: 15px;
}
 .fa-search {
    font-weight: 900;
    width: 16px;
    height: 16px;
    color: white;
    margin: 10px;
    margin-top: 15px;
    
}
.fas1{
    
    z-index: 3;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 252, 251, 0.5);
    margin: 10px;
    border-radius: 50%;
}
.buuton1{
    width:154px ;
    height:44px ;
    background-color: rgba(255, 252, 251, 0.5);
    color:white;
   border-radius: 22px;
   margin-right: 20px;
    border: none;
}
/*content1 */
.content1{
    grid-area: cont1;
    width:869px ;
    height: 513px;
  display: grid;
  grid-template-areas: "colum1 .colum2";
  margin-right: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.fa-times{
    width:9.63px ;
    height:11.58px ;
    color: #8A90BB;
    margin-left: 370px;
    padding-top: 20px;
}
.colum1{
    width:435px ;
    height:513px ;
    grid-area: colum1;
}
.colum1 h1{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.span1{
    font-size:12px ;
    text-align: center;
}
.span2{
    font-size:12px ;
    text-align: left;
}
.span3{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
.span3 span{
    color:#8A90BB;
}
form{
    font-size: 12px;
    text-align: right;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    width:290px ;
    height:40px ;
    background-color: #FBFBFB;
    border: #FBFBFB;
    border-radius: 5px;
}

.colum1 button{
    width:292px ;
    height:48px ;
    text-align: center;
    font-size:16px ;
    color: white;
    border: none;
    margin-top: 20px;
    background-color: #8A90BB;
    border-radius:24px ;
}
.colum2{
    width: 374px;
    height:471px ;
    grid-area: colum2;
}
.colum2 img{
    padding: 10px;
    padding-top: 20px;
}
.vl2 {
    border-left: 2px solid #8A90BB;
    width: 0px;
    height: 470px;
    margin-top: 15px;
  }
/*footer */
.footer{
    /* width: 1266px; */
    height: 243.11px;
    grid-area: foot;
    background-image: url(../img/Group\ 35.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    
}
.footer button{
    width:168px ;
    height: 60px;
    border:none ;
    border-radius:20px ;
    background-color:#8A90BB ;
    color: white;
    font-size:20px ;
    margin-left: 350px;
}
.footer input{
    margin-top: 120px;
margin-left: 50px;
    padding: 30px;
    width:589px ;
    height:60px ;
    border:none ;
    border-radius:24px ;
    font-size: 17px;
}
/*foot2*/
.foot2{
    grid-area:  foot2;
    /* width:1330px ; */
    height:339 ;
    background-color:#94C4D2 ;
 
}